:host {
  $itemHeight: 2em;
  --length: 1;

  display: grid;
  grid-template-columns: repeat(var(--length), 1fr);
  grid-template-rows: $itemHeight $itemHeight;
  grid-row-gap: 1em;

  #item {
    display: contents;

    .dragHandler {

      grid-row: 1/3;

      cursor: move;
      opacity: 0;
    }
  }

  #itemStrip {
    grid-column-start: 1;
    grid-column-end: calc(var(--length) + 1);
    grid-row: 2;

    background-color: cornflowerblue;
  }

  #itemLeft {
    grid-column: 1;

    width: 0.2em;
  }

  #itemRight {
    grid-column: calc(var(--length));
    justify-self: right;

    width: 0.2em;
  }

  #itemLeft,
  #itemRight {
    grid-row: 2/3;
    z-index: 102;
    cursor: col-resize;

    background-color: red;
  }

  ::slotted(a) {
    grid-row: 1/2;
    z-index: 102;
  }
}
