:host {
  $goalHeight: 2em;
  --length: 1;

  display: grid;
  grid-template-columns: repeat(var(--length), 1fr);
  grid-template-rows: $goalHeight $goalHeight;
  grid-row-gap: 1em;

  #goal {
    display: contents;

    .dragHandler {

      grid-row: 2/3;

      cursor: move;
      opacity: 0;
    }
  }

  #goalStrip {
    grid-column-start: 1;
    grid-column-end: calc(var(--length) + 1);
    grid-row: 2;

    background-color: cornflowerblue;
  }

  #goalLeft {
    grid-column: 1;

    width: 0.2em;
  }

  #goalRight {
    grid-column: calc(var(--length));
    justify-self: right;

    width: 0.2em;
  }

  #goalLeft,
  #goalRight {
    grid-row: 2/3;
    z-index: 102;
    cursor: col-resize;

    background-color: red;
  }

  //.existingGoal {
  //
  //}

  #goalIcon {
    grid-row: 1/2;
    margin: 0 0 0 -0.3em;

    img {
      border: 1px solid #1F585F;
      display: block;
      padding: 0;
      text-align: center;
      background-color: darkseagreen;
      width: 2em;
    }

    &:after {
      content: " ";
      background-color: #1F585F;
      display: block;
      width: 2px;
      height: 1em;
      margin: 0 auto;
    }
  }

  #goalIcon.widthOne {
    position: absolute;
  }
}
