:host {
  display: grid;

  --years: 15;
  --rows: 1;
  --ROW_OFFSET: 2;

  grid-template-columns: repeat(var(--years), minmax(1.4em, 1em));
  grid-template-rows: 3em repeat(var(--rows), 5.3em) 1em 3em;
  grid-row-gap: 0.3em;

  margin-bottom: 4em;
  border: solid #c4c4c4 1px;
  font-family: Arial, sans-serif;
  width: fit-content;
  user-select: none;

  .period {
    grid-row-start: 1;
    grid-row-end: calc(var(--rows) + var(--ROW_OFFSET) + 2);
  }

  .period:nth-child(even),
  .year:nth-child(even) {
    background-color: #f6f6f6;
  }

  .period:nth-child(odd),
  .year:nth-child(odd) {
    background-color: #d0d0d0;
  }

  .age {
    text-align: center;
    align-self: center;

    background-color: purple;
    color: white;

    grid-row: calc(var(--rows) + var(--ROW_OFFSET));
  }

  .year {
    grid-row: calc(var(--rows) + var(--ROW_OFFSET) + 1);

    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
  }

  .forJoint {
    border-top: 1px dashed yellow;
  }

  .dropTarget {
    //opacity: 0;

    opacity: 0.5;
    background-color: blue;

    z-index: 100;

    cursor: cell;
  }

  //#goalIcon.evenLength {
  //  margin-left: -52%;
  //
  //  &:after {
  //    margin-left: 30%;
  //  }
  //}

  .newItemPlaceholder {
    background-color: cornflowerblue;
    height: 2em;
    align-self: end;
  }
}