:host {
  $goalHeight: 2em;
  --length: 1;

  display: grid;
  grid-template-columns: 0.2em repeat(var(--length), 1fr) 0.2em;
  grid-template-rows: $goalHeight $goalHeight;
  grid-row-gap: 1em;

  .dragHandler {
    grid-row: 2/3;
    background-color: cornflowerblue;

    cursor: move;
    //opacity: 0;
  }

  #goal {
    background-color: cornflowerblue;
    height: $goalHeight;

    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;

    .dragHandler {
      width: 1.4em;


      &:first-child {
        width: 1.2em;
      }

      &:last-child {
        width: 1.2em;
      }

    }
  }

  #goalLeft {
    grid-row: 2/3;
  }

  #goalRight {
    grid-row: 2/3;
  }

  #goalLeft,
  #goalRight {
    grid-row: 2/3;
    z-index: 102;
    cursor: col-resize;

    background-color: red;
  }

  //.existingGoal {
  //
  //}

  #goalIcon {
    grid-row: 1/2;
    margin: 0 0 0 -0.8em;

    img {
      border: 1px solid #1F585F;
      display: block;
      padding: 0;
      text-align: center;
      background-color: darkseagreen;
      width: 2em;
    }

    &:after {
      content: " ";
      background-color: #1F585F;
      display: block;
      width: 2px;
      height: 1em;
      margin: 0 auto;
    }
  }
}
